html, body, h1, h2, h3, h4, h5, li, ul, ol, input, select, div, p, img {
  margin: 0;
  padding: 0;
  font-weight: normal; }

html {
  font-family: "Open Sans Condensed"; }

.background-image {
  position: fixed;
  background: url(../img/cloudyDay.jpg) no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  @media screen and (max-width: 800px) {
    .background-image {
      top: -80px;
      left: 0;
      background: url(../img/smallBlueSky.jpg) no-repeat;
      background-attachment: fixed;
      background-size: auto;
      height: 725px;
      width: 775px; } }

.loading {
  position: absolute;
  width: 400px;
  height: 300px;
  top: 200px;
  left: 50%;
  margin-left: -200px;
  background-image: url(../img/loading.gif); }
  @media screen and (max-width: 800px) {
    .loading {
      width: 200px;
      height: 150px;
      background-size: 100% 100%;
      margin-left: -100px; } }

.page-wrap {
  display: none; }
  .page-wrap .current-weather-wrap {
    position: absolute;
    margin-top: 20px;
    margin-left: -200px;
    left: 50%;
    width: 400px;
    display: block; }
    @media screen and (max-width: 1200px) {
      .page-wrap .current-weather-wrap {
        float: none;
        display: block;
        position: relative;
        margin: 0 auto 20px auto;
        left: auto;
        width: 100%; } }
  .page-wrap #icon {
    color: #fff;
    width: 200px;
    height: 200px;
    background-size: 100% 100%;
    margin: auto; }
  .page-wrap #overview {
    font-family: "Open Sans Condensed";
    color: #fff;
    text-align: center;
    font-size: 28px;
    margin-top: 10px; }
    @media screen and (max-width: 1200px) {
      .page-wrap #overview {
        font-size: 20px; } }
  .page-wrap #temp {
    text-align: center;
    color: #fff;
    font-size: 120px;
    font-family: "Open Sans Condensed"; }
    @media screen and (max-width: 1200px) {
      .page-wrap #temp {
        font-size: 75px; } }
  .page-wrap #feelsLikeTemp {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: "Open Sans Condensed"; }
  .page-wrap #humidity {
    font-family: "Open Sans Condensed";
    color: #fff;
    text-align: center;
    font-size: 20px; }
  .page-wrap #windSpeed {
    font-family: "Open Sans Condensed";
    color: #fff;
    text-align: center;
    font-size: 20px; }
  .page-wrap #rainProbability {
    font-family: "Open Sans Condensed";
    color: #fff;
    text-align: center;
    font-size: 20px; }

.hourly-wrap {
  position: absolute;
  width: 400px;
  display: inline-block;
  float: left;
  margin: 20px 0 0 50px; }
  @media screen and (max-width: 1200px) {
    .hourly-wrap {
      float: none;
      margin: auto;
      display: block;
      left: 0;
      right: 0; } }
  @media screen and (max-width: 450px) {
    .hourly-wrap {
      float: none;
      margin: auto;
      display: block;
      width: 95%; } }

.hourly-title {
  color: #fff;
  font-size: 40px;
  text-align: center; }

.hourly-item {
  border-radius: 5px;
  list-style-type: none;
  height: 50px;
  width: 95%;
  background: rgba(0, 0, 255, 0.3);
  padding: 10px;
  margin-top: 2px;
  text-align: center; }
  @media screen and (max-width: 800px) {
    .hourly-item {
      background: rgba(0, 0, 255, 0.5); } }
  .hourly-item #hourlyTemp {
    color: #fff;
    font-size: 50px;
    margin-top: -70px;
    display: inline-block;
    float: left; }
  .hourly-item #hourlyTime {
    color: #fff;
    font-size: 28px;
    margin-top: -10px; }
  .hourly-item #hourlyChanceOfRain {
    color: #fff;
    font-size: 22px; }
  .hourly-item #hourlyIcon {
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    display: inline-block;
    float: right;
    margin-top: -60px; }

.daily-wrap {
  position: absolute;
  width: 400px;
  display: inline-block;
  right: 0;
  margin: 20px 50px 0 0; }
  @media screen and (max-width: 1200px) {
    .daily-wrap {
      float: none;
      margin: 650px auto 20px auto;
      display: block;
      left: 0;
      right: 0; } }
  @media screen and (max-width: 450px) {
    .daily-wrap {
      width: 95%; } }

.daily-title {
  color: #fff;
  font-size: 40px;
  text-align: center; }

.daily-item {
  border-radius: 5px;
  list-style-type: none;
  height: 50px;
  width: 95%;
  background: rgba(0, 0, 255, 0.3);
  padding: 10px;
  margin-top: 2px;
  text-align: center; }
  @media screen and (max-width: 800px) {
    .daily-item {
      background: rgba(0, 0, 255, 0.5); } }
  .daily-item #dailyHighTemp {
    color: #fff;
    font-size: 25px;
    margin-top: -68px;
    display: inline-block;
    float: left; }
  .daily-item #dailyLowTemp {
    color: #fff;
    font-size: 25px;
    margin-top: -38px;
    display: inline-block;
    float: left; }
  .daily-item #dailyDayOfWeek {
    color: #fff;
    font-size: 28px;
    margin-top: -10px; }
  .daily-item #dailyChanceOfRain {
    color: #fff;
    font-size: 22px; }
  .daily-item #dailyIcon {
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    display: inline-block;
    float: right;
    margin-top: -60px; }

/*# sourceMappingURL=style.css.map */
