 html, body, h1, h2, h3, h4, h5, li, ul, ol, input, select, div, p, img{
	margin: 0;
	padding: 0;
	font-weight: normal;
}
html {
	background: url(../img/cloudyDay.jpg) no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: "Open Sans Condensed";
    @media screen and (max-width: 1000px) {
    	background: url(../img/cloudyDay.jpg) no-repeat;
    	background-attachment: fixed;

  	}
}

.page-wrap {

	.current-weather-wrap {
		position: absolute;
		margin-top: 20px;
		margin-left: -200px;
		left: 50%;
		width: 400px;
		display: block;
		@media screen and (max-width: 1200px) {
	    	float: none;
	    	display: block;
	    	position: relative;
	    	margin: 0 auto 20px auto;
	    	left: auto;
	    	width: 100%;
	  	}

	}

	#icon {
		color: #fff;
		width: 200px;
		height: 200px;
		background-size: 100% 100%;
		margin: auto;
	}
	#overview {
		font-family: "Open Sans Condensed";
		color: #fff;
		text-align: center;
		font-size: 28px;
		text-shadow: 1px 1px 5px #000;
		@media screen and (max-width: 1200px) {
	    	font-size: 20px;
	  	}
	}
	#temp {
		text-align: center;
		color: #fff;
		font-size: 120px;
		font-family: "Open Sans Condensed";
		text-shadow: 1px 1px 20px #555;
		@media screen and (max-width: 1200px) {
	    	font-size: 75px;
	  	}
	}
	#feelsLikeTemp {
		text-align: center;
		color: #fff;
		font-size: 20px;
		font-family: "Open Sans Condensed";
		text-shadow: 1px 1px 5px #000;
	}
	#humidity {
		font-family: "Open Sans Condensed";
		color: #fff;
		text-align: center;
		font-size: 20px;
		text-shadow: 1px 1px 5px #000;
	}
	#windSpeed {
		font-family: "Open Sans Condensed";
		color: #fff;
		text-align: center;
		font-size: 20px;
		text-shadow: 1px 1px 5px #000;
	}
	#rainProbability {
		font-family: "Open Sans Condensed";
		color: #fff;
		text-align: center;
		font-size: 20px;
		text-shadow: 1px 1px 5px #000;
	}
}

.hourly-wrap {
	width: 400px;
	display: inline-block;
	float: left;
	margin: 20px 0 0 50px;
	@media screen and (max-width: 1200px) {
    	float: none;
    	margin: auto;
    	display: block;
  	}
  	@media screen and (max-width: 450px) {
    	float: none;
    	margin: auto;
    	display: block;
    	width: 95%;
  	}
}

.hourly-title {
	color: #fff;
	font-size: 40px;
	text-align: center;
}

.hourly-item {
	border-radius: 5px;
	list-style-type: none;
	height: 50px;
	width: 95%;
	background: rgba(0, 0, 255, 0.3);
	padding: 10px;
	margin-top: 2px;
	text-align: center;

	#hourlyTemp {
		color: #fff;
		font-size: 50px;
		margin-top: -70px;
		display: inline-block;
		float: left;
	}
	#hourlyChanceOfRain {
		color: #fff;
		font-size: 25px;
	}
	#hourlyHumidity {
		color: #fff;
		font-size: 18px;
	}
	#hourlyIcon {
		background-size: 100% 100%;
		width: 50px;
		height: 50px;
		display: inline-block;
		float: right;
		margin-top: -60px;
	}
}

.daily-wrap {
	width: 400px;
	display: inline-block;
	float: right;
	margin: 20px 50px 0 0;
	@media screen and (max-width: 1200px) {
    	float: none;
    	margin: auto;
    	display: block;
  	}
  	@media screen and (max-width: 450px) {
    	float: none;
    	margin: auto;
    	display: block;
    	width: 95%;
  	}

}

.daily-title {
	color: #fff;
	font-size: 40px;
	text-align: center;
}

.daily-item {
	border-radius: 5px;
	list-style-type: none;
	height: 50px;
	width: 95%;
	background: rgba(0, 0, 255, 0.3);
	padding: 10px;
	margin-top: 2px;
	text-align: center;

	#dailyTemp {
		color: #fff;
		font-size: 50px;
		margin-top: -70px;
		display: inline-block;
		float: left;
	}
	#dailyChanceOfRain {
		color: #fff;
		font-size: 25px;
	}
	#dailyHumidity {
		color: #fff;
		font-size: 18px;
	}
	#dailyIcon {
		background-size: 100% 100%;
		width: 50px;
		height: 50px;
		display: inline-block;
		float: right;
		margin-top: -60px;
	}
}

